<div class="panel panel-default page-panel">
  <div class="panel-header">
    <h1><% if current_user == user %>Hi there, <% else %>These are the times for <% end %><%= user.name %></h1>
    <p><b>Total Received:</b> <%= Timetracker.received(user) %> hours</p>
    <p><b>Total Unreceived:</b> <%= Timetracker.unreceived(user) %> hours</p>
    <div class="actions">
      <%= link_to receive_all_times_path(user), method: :put, data: { confirm: 'Are you sure you want to mark all times as received?' }, "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Mark all times as received", class: 'addtooltip pull-right' do %>
        <i class="glyphicon glyphicon-thumbs-up"></i>
      <% end %>
      <% if current_user == user %>
        <%= link_to new_timetracker_path, "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Add a Time", class: 'addtooltip pull-right' do %>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#timetrackers" role="tab" data-toggle="tab">Timetrackers</a></li>
    <li><a href="#stats" role="tab" data-toggle="tab">Stats</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="timetrackers">
      <ul class="list-group">
        <%= render @timetrackers %>
      </ul>
    </div>
    <div class="tab-pane" id="stats">
      <div class="tab-container">
        <h2>Weekly Averages</h2>
        <div id="graph" class="graph" data-max="<%=user.trackers_by_period(:week)[:trackers].max%>" data-data="<%=user.trackers_as_json(:week)%>" data-x-axis="Week of the year"></div>

        <h2>Monthly Averages</h2>
        <div id="graph-month" class="graph" data-max="<%=user.trackers_by_period(:month)[:trackers].max%>" data-data="<%=user.trackers_as_json(:month)%>" data-x-axis="Month of the year"></div>
      </div>
    </div>
  </div>

</div>
