<div class="panel panel-default page-panel">
  <div class="page-header">
    <h1>These are the times for <%= @user.name %></h1>
    <p><b>Total Received:</b> <%= Timetracker.received(@user) %> hours</p>
    <p><b>Total Unreceived:</b> <%= Timetracker.unreceived(@user) %> hours</p>
    <div class="actions">
      <%= link_to receive_all_times_path(@user), method: :put, data: { confirm: 'Are you sure you want to mark all times as received?' } do %>
        <i class="glyphicon glyphicon-thumbs-up pull-right"></i>
      <% end %>
    </div>
  </div>


  <ul class="list-group">
    <%= render @timetrackers %>
  </ul>
</div>
