<!DOCTYPE html>
<html lang="en">
<head>
  <title>Code For Kids Time Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'favicon.png' %>
  <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <script src="//mbostock.github.com/d3/d3.v2.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <% unless current_user %>class="login-screen"<% end %>>

  <% if current_user %>
    <%= render 'partials/header' %>
    <div class="container">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  <% unless flash.empty? %>
    <div id="toast" class="top-middle"></div>
    <ul id="toasts">
      <% flash.each do |key, message| %>
        <li data-toast-type="<%= key %>"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

</body>
</html>
